
:root {
  --joy-color:#edc500;
  --trust-color:#7abd0d;
  --fear-color: #007b33;
  --surprise-color: #0080ab;
  --sadness-color: #1f6dad;
  --disgust-color: #7b4ea3;
  --anger-color: #dc0047;
  --anticipation-color: #e87200;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#root {
  padding: 5px;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
}

