:root {
  --joy-color:#edc500;
  --trust-color:#7abd0d;
  --fear-color: #007b33;
  --surprise-color: #0080ab;
  --sadness-color: #1f6dad;
  --disgust-color: #7b4ea3;
  --anger-color: #dc0047;
  --anticipation-color: #e87200;
}
* {
  box-sizing: border-box;
}
