.login-container {
    position: relative;
    grid-area: login;
    font-size: small;
    text-align: center;
}
.login-container > button {
    color: var(--anticipation-color);
    border: 1px solid var(--anticipation-color);
    border-radius: 5px;
    background-color: white;
}
.login-language {
    position: absolute;
    right: 0;
    top: 0;
}