.emotion-slider {
    padding: 2px;
    max-width: 4em;
}

.assess-emotion-text {
    transform-origin: left bottom;
    transform: rotate(-90deg) translate(1em, 2em);
}

.charts-emotions {
    display: flex;
    justify-content: center;
    border: 1px solid var(--text-color);
    padding: 1em 0em 0.5em 1em;
    border-radius: 0.5em;
    position: relative;
    margin-top: 1em;
}

.charts-label {
    position: absolute;
    font-size: x-large;
    top: -0.5em;
    left: 0.5em;
    background-color: var(--background-color);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid var(--text-color);
    border-radius: 0.5em;
}
.flower-container {
    position: relative;
}

.flower-container > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.dotted {
    fill:transparent;
    opacity: 0.5;
    stroke: var(--text-color);
    stroke-dasharray: 1 1;
  }
  