html, body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#root {
  padding: 5px;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-y: hidden;
}

.landing-app-container {
  display: grid;
  --border: 1px solid var(--trust-color);
  --padding: 1px;
  border-radius: 5px;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
@media (orientation: landscape) {
  .landing-app-container {
    grid-template-columns: repeat(9, 11.1%);
    grid-template-areas: 
      "logo logo logo banner banner banner banner login login"
      "HRD HRD HRD psychologists psychologists psychologists everyone everyone everyone"
      "safety_manifest safety_manifest safety_manifest safety_manifest safety_manifest safety_manifest safety_manifest safety_manifest safety_manifest"
      "theory theory theory theory theory theory theory theory theory"
      "q_n_a q_n_a q_n_a q_n_a q_n_a q_n_a q_n_a q_n_a q_n_a";
      grid-template-rows: auto auto auto auto 1fr;
    }
}

@media (orientation: portrait) {
  .landing-app-container {
    grid-template-areas: 
      "logo login"
      "banner banner"
      "HRD HRD"
      "psychologists psychologists"
      "everyone everyone"
      "safety_manifest safety_manifest"
      "theory theory"
      "q_n_a q_n_a";
      grid-template-rows: auto auto auto auto auto auto auto 1fr;
    }
}
