.assess-header {
    font-size: 200%;
    text-align: center;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.assess-header > span {
    margin: auto;
}

.assess-content {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.assess-control-panel{
    display: grid;
    grid-template-rows: auto auto;
}

.assess-control-emotions, .assess-control-buttons{
    display: flex;
    justify-content:center;
    padding: 2px;
    gap: 2px;
}
.assess-control-emotions {
    min-height: 8em;
}

.assess-control-buttons > button{
    font-size: 120%;
}


.image-center {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
.fit-to {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    position: absolute;
}

