.landing-login-container {
    grid-area: login;
    font-size: small;
    text-align: center;
    margin: auto;
    display: flex;
    gap: 5px;
    position: relative;
}
.login-button {
    color: var(--anticipation-color);
    border: 1px solid var(--anticipation-color);
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}
.login-button:hover {
    background-color: var(--anticipation-color);
    color: white;
}
.login-language {
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: x-large;
}

.choosing {
    background-color: white;
    border: 1px solid gray;
    font-size: x-large;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    display: flex;
    gap: 10px;
}
