.theory-container {
    grid-area: theory;
    position: relative;
    margin: 1em;
}

.theory-header {
    position: absolute;
    left: 0.5em;
    top: -0.5em;
    background-color: var(--anger-color);
    border: 2px solid var(--anger-color);
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: xx-large;
    white-space: nowrap;

}

.theory-content {
    border: 2px solid var(--anger-color);
    display: block;
    padding: 1em;
    padding-top: 2em;
    white-space: pre-wrap;
}