.login-container {
    display: grid;
    grid-template-rows: auto auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--background-color);
}
.login-intro {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: justify;
    padding: 10px;
}
.login-form {
    position: relative;
    width: fit-content;
    height: auto;
    min-height: fit-content;
    max-height: fit-content;
    margin: 0 auto auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    gap: 5px;
}

.logged {
    border-width: 0px;
    position: absolute;
    opacity: 0.3;
    margin: auto auto 0 auto;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
}

.versions {
    font-size: small;
    opacity: 0.5;
}

.login-state {
    display: grid;
    grid-template-columns: 1fr auto;
}

.login-tguserid, .login-authcode {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 5px;
}