.emotion-slider {
    padding: 2px;
    max-width: 4em;
}

.assess-emotion-text {
    transform-origin: left bottom;
    transform: rotate(-90deg) translate(1em, 2em);
}

.charts-emotions {
    display: flex;
    justify-content: center;
}

.flower-container {
    position: relative;
}

.flower-container > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}